apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: skycart
data:
  DB_HOST: postgres-service
  DB_NAME: skycart
  DB_PORT: "5432"
  DB_USER: postgres
  PORT: "5000"
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: skycart
type: Opaque
stringData:
  DB_PASS: Pa1ra2@3
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: skycart
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: skycart/backend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
        envFrom:
        - configMapRef:
            name: backend-config
        - secretRef:
            name: backend-secret
        livenessProbe:
          httpGet:
            path: /api/flights
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/flights
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: skycart
spec:
  selector:
    app: backend
  ports:
  - port: 5000
    targetPort: 5000
  type: ClusterIP