apiVersion: apps/v1
kind: Deployment
metadata:
  name: shell
  namespace: skycart
spec:
  replicas: 2
  selector:
    matchLabels:
      app: shell
  template:
    metadata:
      labels:
        app: shell
    spec:
      containers:
      - name: shell
        image: skycart/shell:latest
        imagePullPolicy: IfNotPresent  
        ports:
        - containerPort: 80
          name: http
---
apiVersion: v1
kind: Service
metadata:
  name: shell
  namespace: skycart
spec:
  selector:
    app: shell
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  type: LoadBalancer